{# src/app/Ressources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}Nebula{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('nebula.ico') }}">
    <!-- Bootstrap -->
    {% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ asset('css/nebula-theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nebula-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="{{ path('hlp_nebula_homepage') }}" style="margin-top:-10px;" ><img src="{{ asset('nebula.png') }}" alt="Nebula icon" height="40" width="40" > Nebula</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nebula-navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_homepage' %}active{% endif %}"><a href="{{ path('hlp_nebula_homepage') }}">Home</a></li>!-->
            <li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_get_started' %}active{% endif %}"><a href="{{ path('hlp_nebula_get_started') }}">Get started</a></li>
            <li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_all_mods' %}active{% endif %}"><a href="{{ path('hlp_nebula_all_mods') }}">Mods</a></li>
            <li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_all_owners' %}active{% endif %}"><a href="{{ path('hlp_nebula_all_owners') }}">Modders & Teams</a></li>
            <li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_all_activity' %}active{% endif %}"><a href="{{ path('hlp_nebula_all_activity') }}">Activity</a></li>
          </ul>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p class="nav navbar-text navbar-right">Signed in as <a class="navbar-link" href="{{ path('hlp_nebula_owner', {'owner': app.user.usernameCanonical }) }}">{{ app.user.username }}</a> - <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">Logout <span class="glyphicon glyphicon-log-out"></span></a></p>
          {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn navbar-right">Sign in <span class="glyphicon glyphicon-log-in"></span></a>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
    {% block body %}
    {# src/Sdz/UserBundle/Resources/views/layout.html.twig #}



  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
 
      {{ message|trans({}, 'FOSUserBundle') }}
 
    {% endfor %}
  {% endfor %}

  {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
  {% block fos_user_content %}
  {% endblock fos_user_content %}

    {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    {% block javascripts %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-theme.min.js') }}"></script>
    <script src="{{ asset('js/symform.js') }}"></script>
    {% endblock %}
  </body>
</html>
