{% extends "HLPNebulaBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Mods
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <p class="lead">There {% if modsList|length > 1 %}are{% else %}is{% endif %} {% if modsList|length == 0 %}no{% else %}<span class="text-info">{{ modsList|length }}</span>{% endif %} registered mod{% if modsList|length > 1 %}s{% endif %}.</p>
{% for mod in modsList %}
  {% if loop.first %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mod ID</th>
          <th>Mod title</th>
          <th>Released by</th>
          <th>First release</th>
        </tr>
      </thead>
      <tbody>
  {% endif %}
        <tr>
          <td><a href="{{ path('hlp_nebula_mod', {'owner': mod.owner.nameCanonical, 'mod': mod.modId}) }}">{{ mod.modId }}</a></td>
          <td>{{ mod.title }}</td>
          <td>{{ mod.owner.name }}</td>
          <td>{{ mod.firstRelease|date("d M Y") }}</td>
        </tr>
  {% if loop.last %}
      </tbody>
    </table>
  {% endif %}
{% else %}
<p class="lead">No mod found.</p>
{% endfor %}

  </div>
</div>
{% endblock %}
