{% extends "HLPNebulaBundle:AdvancedUI:branch.html.twig" %}

{% block branch_tab %}
  {% if is_granted('add', owner) %}
    <p class="well"><a href="{{ path('hlp_nebula_new_build', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId}) }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New build</a></p>
  {% endif %}
{% for build in buildsList %}
  {% if loop.first %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Version</th>
          <th>Release date</th>
          <th>Status</th>
          {% if is_granted('add', owner) %}<th>Actions</th>{% endif %}
        </tr>
      </thead>
      <tbody>
  {% endif %}
        <tr>
          <td><a href="{{ path('hlp_nebula_build', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}">{{ build.version }}</a></td>
          <td>{{ build.updated|date("d M Y") }}</td>
          <td>
          {% if build.isReady %}<span class="text-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Validated</span>{% endif %}
          {% if build.isFailed %}<span class="text-warning"><span class="glyphicon glyphicon-remove"></span>&nbsp;Failed</span>{% endif %}
          {% if not build.isReady and not build.isFailed %}<span class="text-info"><span class="glyphicon glyphicon-cog"></span>&nbsp;Processing...</span>{% endif %}
          </td>
          {% if is_granted('add', owner) %}
            <td>
              <a href="{{ path('hlp_nebula_update_build', {'owner': owner.usernameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}" class="btn btn-default btn-xs" style="margin-top:-3px;margin-bottom:-2px;"><span class="glyphicon glyphicon-retweet"></span> Copy & update&nbsp;</a>&nbsp;
              {% if branch.builds|length > 1 %}<a href="{{ path('hlp_nebula_transfer_build', {'owner': owner.usernameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}" class="btn btn-default btn-xs" style="margin-top:-3px;margin-bottom:-2px;"><span class="glyphicon glyphicon-transfer"></span> Transfer&nbsp;</a>&nbsp;{% endif %}
              <a href="{{ path('hlp_nebula_delete_build', {'owner': owner.usernameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}" class="btn btn-danger btn-xs" style="margin-top:-3px;margin-bottom:-2px;"><span class="glyphicon glyphicon-trash"></span> Delete&nbsp;</a>
            </td>
          {% endif %}
        </tr>
  {% if loop.last %}
      </tbody>
    </table>
    {% if nbPages > 1 %}
    <div class="text-center">
      <ul class="pagination pagination-sm">
        {% if page != 1 %}
          <li><a href="{{ path('hlp_nebula_branch_builds', {'owner': owner.usernameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'page': page-1}) }}">&laquo;</a></li>
        {% endif %}
        {% for p in range(1, nbPages) %}
          <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ path('hlp_nebula_branch_builds', {'owner': owner.usernameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'page': p}) }}">{{ p }}</a>
          </li>
        {% endfor %}
        {% if page != nbPages %}
          <li><a href="{{ path('hlp_nebula_branch_builds', {'owner': owner.usernameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'page': page+1}) }}">&raquo;</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  {% endif %}
{% else %}
<p class="lead">No build found.</p>
{% endfor %}

{% endblock %}
