{% extends "HLPNebulaBundle::layout.html.twig" %}

{% block title %}
  {{ owner.name }} / {{ mod.title }} / {{ branch.name }} / {{ mod.modId }}_{{ build.version }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
  <ol class="breadcrumb">
    <li><a href="{{ path('hlp_nebula_homepage') }}">Nebula</a></li>
    <li><a href="{{ path('hlp_nebula_owner', {'owner': owner.nameCanonical}) }}">{{ owner.name }}</a></li>
    <li><a href="{{ path('hlp_nebula_mod', {'owner': owner.nameCanonical, 'mod': mod.modId}) }}">{{ mod.title }}</a></li>
    <li><a href="{{ path('hlp_nebula_branch', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId}) }}">{{ branch.name }}</a></li>
    <li href="active">{{ mod.modId }}_{{ build.version }}</li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-3">
    <h2><small>{{ mod.modId }}_</small><wbr>{{ build.version }}</h2>
    <hr/>
    <p class="text-muted"><span class="glyphicon glyphicon-time"></span> Released on {{ build.updated|date("d M Y") }}</p>
    <hr/>
    <p class="lead"><small class="text-muted">a build in </small><a href="{{ path('hlp_nebula_branch', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId}) }}">{{ branch.name }}</a></p>
    <p class="lead"><small class="text-muted">a branch of </small><a href="{{ path('hlp_nebula_mod', {'owner': owner.nameCanonical, 'mod': mod.modId}) }}">{{ mod.title }}</a></p>
    <p class="lead"><small class="text-muted">a mod by </small><a href="{{ path('hlp_nebula_owner', {'owner': owner.nameCanonical}) }}">{{ owner.name }}</a></p>
  </div>
  <div class="col-sm-9">
    <ul class="mainTabs nav nav-tabs" role="tablist">
      <li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_build_data' %}active{% endif %}">
        <a href="{{ path('hlp_nebula_build_data', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}">
          <h4 class="titletab">Configuration data</h4>
        </a>
      </li>
      <li class="{% if app.request.attributes.get('_route') == 'hlp_nebula_build_data_finalised' %}active{% endif %}">
        <a href="{{ path('hlp_nebula_build_data_finalised', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}">
          <h4 class="titletab">Generated data</h4>
        </a>
      </li>
    </ul>
  {% include "HLPNebulaBundle:AdvancedUI:flashbox.html.twig" %}
    
  {% block build_tab %}
  {% endblock %}
  </div>
</div>
{% endblock %}
