{% form_theme form 'HLPNebulaBundle:AdvancedUI:form_theme.html.twig' %}

{{ form_start(form, {'attr': {'class': 'mainForm row'}}) }}
  {{ form_errors(form) }}
  <h4><span class="glyphicon glyphicon-asterisk"></span> Build details</h4>
  <hr/>
  <div class="form-group">
    {{ form_label(form.versionMajor, "Version*") }}
    {{ form_errors(form.versionMajor) }}
    {{ form_errors(form.versionMinor) }}
    {{ form_errors(form.versionPatch) }}
    {{ form_errors(form.versionPreRelease) }}
    {{ form_errors(form.versionMetadata) }}
    <div class="form-inline well well-sm">
      {{ form_label(form.versionMajor, "MAJOR : ") }}
      {{ form_widget(form.versionMajor, { 'attr': {'style': 'width: 60px;'} }) }}&#160;
      {{ form_label(form.versionMinor, "MINOR : ") }}
      {{ form_widget(form.versionMinor, { 'attr': {'style': 'width: 60px;'} }) }}&#160;
      {{ form_label(form.versionPatch, "PATCH : ") }}
      {{ form_widget(form.versionPatch, { 'attr': {'style': 'width: 70px;'} }) }}&#160;
      {{ form_label(form.versionPreRelease, "Pre-release : ") }}
      {{ form_widget(form.versionPreRelease, { 'attr': {'style': 'width: 95px;'} }) }}&#160;
      {{ form_label(form.versionMetadata, "Metadata : ") }}
      {{ form_widget(form.versionMetadata, { 'attr': {'style': 'width: 95px;'} }) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.notes, "Notes") }}
    {{ form_errors(form.notes) }}
    {{ form_widget(form.notes) }}
  </div>
  <br/>
  <h4><span class="glyphicon glyphicon-download-alt"></span> Installer data</h4>
  <hr/>
  <div class="form-group">
    {{ form_label(form.folder, "Install folder") }}&nbsp;&nbsp;&nbsp;<span class="text-muted">Mod install path, relative to FreeSpace 2 install path. If not set, current default is : <strong>{{ mod.modId }}/</strong>.</span>
    {{ form_errors(form.folder) }}
    {{ form_widget(form.folder) }}
  </div>
  <div class="form-group">
    {{ form_label(form.packages, "Packages") }}
    {{ form_errors(form.packages) }}
    {{ form_widget(form.packages) }}
    <div class="nospacer">
      <div class="well text-center">
        <button class="btn btn-primary addButton" type="button">Add package</button>
      </div>
    </div>
  </div>
  <br/>
  <h4><span class="glyphicon glyphicon-wrench"></span> Post-install scripting</h4>
  <hr/>
  <div class="form-group clearfix">
    <div class="clearfix">{{ form_label(form.actions, "Actions") }}</div>
    {{ form_errors(form.actions) }}
    {{ form_widget(form.actions) }}
    <div class="col-sm-4 cardspacer">
      <div class="well well-sm text-center form-ph">
        <button class="btn btn-primary addButton" type="button">Add action</button>
      </div>
    </div>
  </div>
  <br/>
  <h4><span class="glyphicon glyphicon-cloud-upload"></span> Validate this build</h4>
  <hr/>
  
  {{ form_rest(form) }}
  <div class="text-center">
    <button type="submit" class="btn btn-success" style="width:100px;">Submit</button>
  </div>
{{ form_end(form) }}
