{% form_theme form 'HLPNebulaBundle:AdvancedUI:form_theme.html.twig' %}

{{ form_start(form, {'attr': {'class': 'mainForm row'}}) }}
  {{ form_errors(form) }}
  <h4><span class="glyphicon glyphicon-asterisk"></span> Mod metadata</h4>
  <hr/>
  <div class="form-group">
  {% if form.modId is defined %}
    {{ form_label(form.modId, "Unique mod ID*") }}
    <p class="help-block">This setting cannot be edited once the mod is published.</p>
    {{ form_errors(form.modId) }}
    {{ form_widget(form.modId, {'attr':{'pattern':'^[\\w]+[-\\w]*$', 'title': 'URL friendly unique ID : spaces and special characters not allowed, hyphen (\"-\") not allowed at the beginning of the ID. Underscores (\"_\") allowed.' }}) }}
  {% else %}
    <label class="form-label" for="modId_disabled">Unique mod ID <span class="text-muted">(cannot be changed)</span></label>
    <input id="modId_disabled"class="form-control" type="text" value="{{ mod.modId }}" disabled>
  {% endif %}
  </div>
  <div class="form-group">
    {{ form_label(form.notes, "Notes") }}
    {{ form_errors(form.notes) }}
    {{ form_widget(form.notes) }}
  </div>
  <br/>
  <h4><span class="glyphicon glyphicon-star-empty"></span> Mod public information</h4>
  <hr/>
  <div class="form-group">
    {{ form_label(form.title, "Mod title*") }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr':{'title': 'Mod full title. Any character allowed (UTF-8), including spaces.'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.firstRelease, "First release date") }}
    {{ form_errors(form.firstRelease) }}
    <div class="form-inline well well-sm">
      <div class="form-group">{{ form_widget(form.firstRelease, {'format':'dd-MM-yyyy'}) }}</div>
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.description, "Description") }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
  </div>
  <div class="form-group">
      {{ form_label(form.features, "Features") }}
      {{ form_errors(form.features) }}
      {{ form_widget(form.features) }}
      <div class="nospacer">
          <div class="nospacer">
              <button class="btn btn-default addButton" type="button" style="width: 100%;">Add feature</button>
          </div>
      </div>
  </div>
  {{ form_rest(form) }}
  <button type="submit" class="btn btn-success">Submit</button>
{{ form_end(form) }}
