{% extends "HLPNebulaBundle::layout.html.twig" %}

{% form_theme form 'HLPNebulaBundle:AdvancedUI:form_theme.html.twig' %}

{% block title %}
  {{ owner.name }} / {{ mod.title }} / {{ branch.name }} / {{ mod.modId }}_{{ build.version }} / Transfer build - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
  <ol class="breadcrumb">
    <li><a href="{{ path('hlp_nebula_homepage') }}">Nebula</a></li>
    <li><a href="{{ path('hlp_nebula_owner', {'owner': owner.nameCanonical}) }}">{{ owner.name }}</a></li>
    <li><a href="{{ path('hlp_nebula_mod', {'owner': owner.nameCanonical, 'mod': mod.modId}) }}">{{ mod.title }}</a></li>
    <li><a href="{{ path('hlp_nebula_branch', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId}) }}">{{ branch.name }}</a></li>
    <li href="active">Transfer : <a href="{{ path('hlp_nebula_build', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}">{{ mod.modId }}_{{ build.version }}</a></li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-3">
    <h2><small>Transfer build </small>{{ build.version }}</h2>
    <hr/>
    <p class="lead"><small class="text-muted">from branch </small>{{ branch.name }}</p>
    <hr/>
    <p class="lead"><small class="text-muted">of mod </small>{{ mod.title }}</p>
    <p class="lead"><small class="text-muted">as </small>{{ owner.name }}</p>
    <hr/>
    <p class="lead"><small class="text-muted">or </small><a href="{{ path('hlp_nebula_branch', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId}) }}" class="btn btn-danger">Cancel</a></p>
  </div>
  <div class="col-sm-9">
    {{ form_start(form, {'attr': {'class': 'mainForm row'}}) }}
  {{ form_errors(form) }}
  {% include "HLPNebulaBundle:AdvancedUI:flashbox.html.twig" %}
  <h4><span class="glyphicon glyphicon-transfer"></span> Destination</h4>
  <hr/>
  <div class="form-group">
    {{ form_label(form.branch, "Branch") }}
    <p class="help-block">Chose a branch of your mod to transfer this build.</p>
    {{ form_errors(form.branch) }}
    {{ form_widget(form.branch) }}
  </div>  
  <br/>
  <h4><span class="glyphicon glyphicon-asterisk"></span> Build details</h4>
  <hr/>
  <div class="form-group">
    {{ form_label(form.versionMajor, "Version*") }}
    <p class="help-block">
      A build version number must be unique <em>in the destination branch of your mod</em>. Use <a target="_blank" href='http://semver.org/'>Semantic Versioning <span class="glyphicon glyphicon-link"></span></a>.
    </p>
    {{ form_errors(form.versionMajor) }}
    {{ form_errors(form.versionMinor) }}
    {{ form_errors(form.versionPatch) }}
    {{ form_errors(form.versionPreRelease) }}
    {{ form_errors(form.versionMetadata) }}
    <div class="form-inline well well-sm">
      {{ form_label(form.versionMajor, "MAJOR : ") }}
      {{ form_widget(form.versionMajor, { 'attr': {'style': 'width: 60px;','min':'0'} }) }}&#160;
      {{ form_label(form.versionMinor, "MINOR : ") }}
      {{ form_widget(form.versionMinor, { 'attr': {'style': 'width: 60px;','min':'0'} }) }}&#160;
      {{ form_label(form.versionPatch, "PATCH : ") }}
      {{ form_widget(form.versionPatch, { 'attr': {'style': 'width: 70px;','min':'0'} }) }}&#160;
      {{ form_label(form.versionPreRelease, "Pre-release : ") }}
      {{ form_widget(form.versionPreRelease, { 'attr': {'style': 'width: 95px;', 'pattern':'^[0-9A-Za-z-]+(\\.[0-9A-Za-z-]+)*$'} }) }}&#160;
      {{ form_label(form.versionMetadata, "Metadata : ") }}
      {{ form_widget(form.versionMetadata, { 'attr': {'style': 'width: 95px;', 'pattern':'^[0-9A-Za-z-]+(\\.[0-9A-Za-z-]+)*$'} }) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.notes, "Notes") }}
    <p class="help-block">Notes are intended for other <em>modders</em> and <em>developers</em>, they contain optional <em>technical informations</em>.</p>
    {{ form_errors(form.notes) }}
    {{ form_widget(form.notes) }}
  </div>  
  
  {{ form_rest(form) }}
  <div class="text-center">
    <button type="submit" class="btn btn-success" style="width:100px;">Submit</button>
  </div>
{{ form_end(form) }}
  </div>
</div>
{% endblock %}
