{% extends "HLPNebulaBundle::layout.html.twig" %}

{% block title %}
  {{ meta.title }} / Edit mod  - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
  <ol class="breadcrumb">
    <li><a href="{{ path('hlp_nebula_workshop_home') }}">Browse mods</a></li>
    <li href="active">Edit mod : <a href="{{ path('hlp_nebula_repository_meta', {'meta': meta.metaId}) }}">{{ meta.title }}</a></li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-3">
    <h2><small>Edit mod </small>{{ meta.title }}</h2>
    <hr/>
    <p class="lead"><small class="text-muted">as </small>{{ app.user.username }}</p>
    <hr/>
    <p class="lead"><small class="text-muted">or </small><a href="{{ referURL }}" class="btn btn-danger">Cancel</a></p>
  </div>
  <div class="col-sm-9">
  {% include "HLPNebulaBundle:AdvancedUI:form_mod.html.twig" %}
  </div>
</div>
{% endblock %}
